Source: libpipeline
Section: libs
Priority: important
Maintainer: Colin Watson <cjwatson@debian.org>
Standards-Version: 4.0.0
Build-Depends: dpkg-dev (>= 1.17.14), debhelper (>= 9.20141010), pkg-config, check <!nocheck>, dh-autoreconf, automake (>= 1:1.10)
Homepage: http://libpipeline.nongnu.org/
Vcs-Git: https://anonscm.debian.org/git/users/cjwatson/libpipeline.git
Vcs-Browser: https://anonscm.debian.org/cgit/users/cjwatson/libpipeline.git/

Package: libpipeline1
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: pipeline manipulation library
 This is a C library for setting up and running pipelines of processes,
 without needing to involve shell command-line parsing which is often
 error-prone and insecure.

Package: libpipeline-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: ${misc:Depends}, libpipeline1 (= ${binary:Version})
Multi-Arch: same
Description: pipeline manipulation library (development files)
 This is a C library for setting up and running pipelines of processes,
 without needing to involve shell command-line parsing which is often
 error-prone and insecure.
 .
 This package contains files needed for developing with libpipeline.
